h1 {
    color: red;
}

#test1 {
    padding: 50px;
}

#test1 span {
    color: red;
}

#test2 {
    background-color: pink;
    width: 50%;
    height: 80%;
}
#test1 #test2 .b
#test1 .c.a.d.b
#test3 {
    width: 1000px;
    display: inline-block;
    margin-bottom: 20px;
    line-height: 50px;
}

#test4 {
    width: 1000px;
    /* display: inline-block;*/
    margin: 10px;
    margin-bottom: 20px;
}

#floattest2 {
    line-height: 60px;
    background-color: lightblue;
}

.float {
    float: left;
    width: 700px;
    font-size: 10px;
    background-color: red;
}
.float.second{
    background-color: gray;
}
#test1:before{
    content: '嘿嘿';
}
[name='t']{
    background-color: red;
}