body {
  margin: 0px;
  font-family: "Microsoft YaHei";
}
[class*=section] {
  text-align: center;
  position: relative;
  padding: 0px 35px;
}
.u-arrow-bottom {
  display: none;
  position: absolute;
  transform: scale(4);
  width: 24px;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  bottom: 20px;
}
.pre-wrap {
  width: 24px;
  height: 14px;
  position: relative;
  -webkit-animation: start 1.5s infinite ease-in-out;
  -moz-animation: start 1.5s infinite ease-in-out;
  animation: start 1.5s infinite ease-in-out;
}
.pre-box1,
.pre-box2 {
  height: 15px;
  width: 11px;
  position: absolute;
  top: -5px;
  overflow: hidden;
}
.pre-box2 {
  left: 10px;
}
.pre1,
.pre2 {
  width: 14px;
  height: 5px;
  position: absolute;
  box-shadow: 1px -1px 1px #646464;
  top: 5px;
}
.pre1 {
  transform: rotate(130deg);
  -webkit-transform: rotate(130deg);
  left: 1px;
}
.pre2 {
  left: -4.5px;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}
.pre1,
.pre2,
.pre3,
.pre4 {
  border-radius: 2px;
  background-color: #fff;
}
@-webkit-keyframes start {
  0%,
  30% {
    opacity: 0.5;
    -webkit-transform: translate(0, 30px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 30px);
  }
  100% {
    opacity: 0.5;
    -webkit-transform: translate(0, -20px);
  }
}
@-moz-keyframes start {
  0%,
  30% {
    opacity: 0.5;
    -moz-transform: translate(0, 30px);
  }
  60% {
    opacity: 1;
    -moz-transform: translate(0, 30px);
  }
  100% {
    opacity: 0.5;
    -moz-transform: translate(0, -20px);
  }
}
@keyframes start {
  0%,
  30% {
    opacity: 0.5;
    transform: translate(0, 30px);
  }
  60% {
    opacity: 1;
    transform: translate(0, 30px);
  }
  100% {
    opacity: 0.5;
    transform: translate(0, -20px);
  }
}
.section1 {
  background-color: #1BBC9B;
  font-size: 30px;
}
.section1 h1 {
  color: black;
  font-size: 70px;
}
.section1 h1 span {
  color: white;
  text-shadow: 7px 7px 1px #7BAABE;
}
.section2 {
  background-color: #4BBFC3;
}
.section2 h2 {
  font-size: 70px;
}
.section3 {
  background-color: #7BAABE;
}
.section3 .title {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 30px;
}
.section3 .title span {
  font-size: 60px;
  color: white;
}
.section3 .question {
  text-align: left;
  font-size: 45px;
}
.section3 .desc {
  text-align: left;
  font-size: 30px;
  text-indent: 2em;
}
.section3 .list {
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  padding-top: 50px;
  color: black;
}
.section3 .list span {
  font-size: 50px;
  color: white;
}
.section3 ul {
  text-align: left;
  font-weight: bold;
  font-size: 35px;
  line-height: 1.5;
}
.section3 ul span {
  font-size: 45px;
  color: white;
}
.section4 {
  background-color: #2B2B2B;
  color: white;
  font-size: 30px;
}
.section4 .title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 30px;
}
.section4 .desc {
  text-align: left;
  font-size: 30px;
  text-indent: 2em;
}
.section4 .list {
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  padding-top: 50px;
}
.section4 .list span {
  font-size: 50px;
  font-weight: bold;
  color: white;
}
.section4 ul {
  text-align: left;
  font-weight: bold;
  font-size: 35px;
  line-height: 2;
}
.section4 ul span {
  color: red;
  font-size: 45px;
}
.section5 {
  font-size: 30px;
  background-color: #1BBC9B;
  color: #444;
}
.section5 .title {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 30px;
}
.section5 .desc {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  text-indent: 2em;
}
.section5 .list {
  width: 60%;
  text-align: left;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.section5 ul {
  text-align: left;
  font-weight: bold;
  color: black;
  font-size: 35px;
  line-height: 2;
}
.section5 ul span {
  font-size: 45px;
  color: white;
}
.section6 {
  background-color: #22C3AA;
}
.section6 .title {
  font-size: 70px;
  color: white;
  text-shadow: 7px 7px 1px #2D7891;
}
.section6 table {
  width: 40%;
  font-weight: bold;
  background-color: #72BBD3;
  background-color: #1AB394;
  font-size: 20px;
  margin: 0 auto;
  text-align: left;
  border-collapse: collapse;
}
.section6 table td:last-child {
  font-size: 20px;
  font-weight: normal;
}
.section6 table .rowspan {
  color: gold;
  text-align: center;
  text-shadow: 1px 1px 1px #2D7891;
}
.section6 table .first {
  text-align: center;
  color: white;
}
.section6 table .second {
  text-align: center;
  color: white;
}
.section6 table .third {
  text-align: center;
  color: white;
}
.section6 table thead td {
  font-size: 20px;
  text-align: center;
}
.section6 table td {
  border: 1px solid black;
}
.section7 {
  background-color: #1AB394;
}
.section7 .title {
  font-size: 50px;
  color: white;
  margin-bottom: 30px;
}
.section7 button {
  background-color: #0F6655;
  color: white;
  width: 60%;
  height: 15%;
  font-size: 80px;
  font-family: "Microsoft YaHei";
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
}
.section7 .contact {
  margin-top: 40px;
  font-size: 45px;
}
.section7 .contact span {
  color: red;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: #fff;
}
@media only screen and (max-device-width: 960px) {
  div h1 h2 h3 span section ul li {
    word-break: break-all;
  }
  .section3 {
    font-size: 30px;
  }
  .section3 .desc {
    font-size: 30px;
    /*font-weight: normal;*/
  }
  .section3 .list {
    width: 100%;
    font-size: 40px;
  }
  .section3 ul {
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.5;
  }
  .section3 ul span {
    font-size: 35px;
    color: white;
  }
  .section4 {
    background-color: #2B2B2B;
    color: white;
    font-size: 30px;
  }
  .section4 .title {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
  }
  .section4 .desc {
    text-align: left;
    font-size: 30px;
    text-indent: 2em;
  }
  .section4 .list {
    text-align: left;
    font-size: 35px;
    font-weight: bold;
  }
  .section4 .list span {
    font-size: 45px;
    font-weight: bold;
    color: white;
  }
  .section4 ul {
    text-align: left;
    font-weight: bold;
    font-size: 35px;
    line-height: 1.6;
  }
  .section4 ul span {
    color: red;
    font-size: 45px;
  }
  .section5 {
    font-size: 35px;
  }
  .section5 .list {
    padding-top: 0px;
  }
  .section5 ul {
    font-size: 35px;
    line-height: 2;
  }
  .section6 table {
    width: 80%;
    font-size: 30px;
  }
  .section6 table td:last-child {
    font-size: 25px;
    font-weight: normal;
  }
  .u-arrow-bottom {
    display: block;
  }
}
